// variables

// Background-colors
$bg-red:#c30931;
$bg-grey:#636562;
$bg-smokewhite:#f4f4f4;
$bg-darkgrey:#363636;
$bg-mdgrey:#3b3b3b;
$bg-share:#f0f0f0;
    // Background color for pills

    $bg-quality:#219fd7;
    $bg-conimentum:#4c5b70;
    $bg-maecenas:#d79561;
    $bg-suspendisse:#c85b5e;

// font color
$text-color:#a3a3a3;
$text-litecolor:#eaeae9;
$text-color-smokewhite:#a0a0a0;

// font weight
$font-lite:lighter;

// reset base font-size
*{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
a{
  color:$text-color;
  cursor: pointer;
}
button, input[type="submit"]{
color:$text-litecolor;
background-color: $bg-grey;
cursor: pointer;
}
.header{

  .navbar{
    background-color: $bg-red;

    .navbar-toggler{
      outline:0;
      cursor:pointer;
    }
    // .navbar-nav{
    //   margin-left: 15.5rem;
    // }

    #nav-link{
      color:#f5f5f5;
      font-size:10px;
      font-weight:$font-lite;
    }
    @media(max-width:767px) {
        min-height:40px;
    }
  }

  .header_iteam--search{
    background-color: $bg-smokewhite;

     li.first-child{
      padding: 3rem 0.5rem;
      background: #c30832;
      position: relative;
      top: -3rem;

      a{
        color: #fff;
      }
    }

    @media(max-width:767px){
        form.mb-form{
          width: 100%;
        }
     }
  }

  .header_iteam--share{
    background-color: $bg-share;

    li{
      a{
        span{
          font-size: 10px;
        }
      }
    }
  }
}

.hero_section{
  background-image: url(../assests/team.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .pt-6{
    padding-top: 15rem;
  }

  .hero_section--row{
    background-color: $bg-grey;

      .child-1{
        border-right:1px solid $text-color;
      }
      h1, p{
        color: $text-litecolor;
        font-weight: $font-lite;
      }
  }
}

.information_section{
      background-color: $bg-smokewhite;
      color: $text-color;

      h2.text-uppercase--subheading{
        font-weight: 400;
      }

      .information{
        color: #c4092f;
        font-size: 2rem;
      }

      time{
        font-size: 1.5rem;
        color: #c5c5c5;
        font-weight: $font-lite;
      }
}

.key_resources{
  background-color: $bg-smokewhite;
}

.resources_section{
  .resources_section--tabSection{
      background-color: $bg-darkgrey;

        .nav-pills{
            .quality{
              background-color: $bg-quality;
              border-radius: 0;
              &.active{
                box-shadow: 0 4px 0 0 $bg-darkgrey, 0 12px 0 0 $bg-quality;
              }
              @media(max-width:767px) {
                margin-right: 0px !important;
              }
            }
            .conimentum{
              background-color: $bg-conimentum;
              border-radius: 0;
              &.active{
                box-shadow: 0 4px 0 0 $bg-darkgrey, 0 12px 0 0 $bg-conimentum;
              }

              @media(max-width:767px) {
                margin-right: 0px !important;
              }
            }
            .maecenas{
              background-color: $bg-maecenas;
              border-radius: 0;
              &.active{
                box-shadow: 0 4px 0 0 $bg-darkgrey, 0 12px 0 0 $bg-maecenas;
              }

              @media(max-width:767px) {
                margin-right: 0px !important;
              }
            }
            .suspendisse{
              background-color: $bg-suspendisse;
              border-radius: 0;
              &.active{
                box-shadow: 0 4px 0 0 $bg-darkgrey, 0 12px 0 0 $bg-suspendisse;
              }

              @media(max-width:767px) {
                margin-right: 0px !important;
              }
            }
        }

    .tab-content{
      .tab-pane{
              background-color: $bg-mdgrey;
              color: $text-color-smokewhite;

              &#quality-report{
                border-top:2px solid $bg-quality;
              }

              &#conimentum-porttior{
                border-top:2px solid $bg-conimentum;
              }

              &#maecenas-tincidunt{
                border-top:2px solid $bg-maecenas;
              }

              &#suspendisse-quis{
                border-top:2px solid $bg-suspendisse;
              }
            }
    }

  }
}

.experts_section {
  background-color: $bg-smokewhite;

    .experts_section--container{
      border-bottom: 2px solid #eaeaea;
    }
      .card-img-top{
        min-height:155px;
      }
      .card-title{
        font-weight: $font-lite;
      }
}

.connect_section{
      background-color: $bg-smokewhite;

      .dropdown-toggle::after{
        position: absolute;
        right: 10px;
        top:10px;
      }
}

.footer{
  background-color: $bg-darkgrey;
}
